# 1 hypertext markup language; cascading style sheets; language that operates in the browser.
# 2 request method, URI protocal version, headers, body
# 3 post, get
# 4 <form action='/your_action' method='post'>
# 4 <input type='text' username='bob'/>
# 4 <br<input type='submit' />
# 4 </form>
# 4 change method='get'
# 5 so we know there is no persistence, everything must be resent every time
# 6 need to have a way to render pages, some file managers and eclipse - atom
# 7 model view controller, separates page rendering from logic the API is the model
# Sinatra
# 1 routes to redirect or render
# 2 render creates the page, redirect goes to another /routes
# 3 <%= %> <% %>
# 4 when it goes through the language parser
# 5 instance variables set in route handlers are directly accessible by templates
