<h1> Welcome to Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>

Player's Cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>


Dealer's Cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>
