<h1> Welcome to Blackjack!</h1>

<p>Welcome to this round of Blackjack, <%= session[:player_name] %>.</p>


Dealer's Cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>


Player's Cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<h3>What would you like to do <%= session[:player_name] %>?</h3>
<form id='hit' method='post' action='/game/player/hit'>
  <input class='btn btn-success btn-large' type='submit' value='Hit Me!'>
</form>
<form id='stay' method='post' action='/game/player/stay'>
  <input class='btn btn-danger btn-large' type='submit' value="I'm Staying!">
</form>
